.background {
  background-color: aliceblue;
}
.container {
  margin-left: 15px;
  margin-bottom: 10px;
}
.oneLine {
  display: flex;
}
.button {
  margin: 8px;
}
.endLine {
  background-color: black;
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-left: -15px;
}
